<div style="
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 72mm;
    max-width: 72mm;
    text-align: right;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
">
    <style>
        p,
        div,
        table,
        img {
            margin: 0;
            padding: 0;
        }

        div,
        p {
            font-size: 18px;
            font-weight: bold;
        }

        .text-center {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 15px;
            font-weight: bold;
            margin: auto;
            border: 1px solid #000;
        }

        th,
        td {
            padding: 2px;
            text-align: right;
            border: 1px solid #000;
        }

        hr {
            width: 100%;
            margin: 10px 0;
            border-top: 1px solid #000;
        }
    </style>

    <div style="
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
">
        <div style="
        border: 1px solid #000;
        border-radius: 12px;
        padding: 8px 16px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        background-color: #f9f9f9;
        min-width: 60%;
    ">
            رقم الفاتورة<br>{{ name.split('-')[-1] }}
        </div>
    </div>

    <hr>

    <div>
        <b>الكاشير:</b> {{ owner }}
    </div>


    <div>
        <b>العميل:</b> {{ customer_name }}
    </div>

    <div>
        <b>التاريخ:</b> {{ posting_date }}
    </div>

    {% set parts = posting_time.split(':') %}
    {% set hour = parts[0]|int %}
    {% set minute = parts[1] %}
    {% set am_pm = 'AM' if hour < 12 else 'PM' %} {% set display_hour=(hour % 12) if (hour % 12) !=0 else 12 %} <div>
        <b>الوقت:</b> {{ "%02d" % display_hour }}:{{ minute }} {{ am_pm }}
</div>

{% if posa_delivery_charges %}
<div>
    <b>التوصيل:</b> {{ posa_delivery_charges }}
</div>
{% endif %}

<hr>

<table>
    <thead>
        <tr>
            <th>الصنف</th>
            <th>الكمية</th>
            <th>السعر</th>
            <th>المبلغ</th>
        </tr>
    </thead>

    <tbody>
        {%- for item in items -%}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.rate }}</td>
            <td>{{ item.amount }}</td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>

<hr>

<div>
    <b>إجمالي الأصناف:</b> {{ total }}
</div>

<div>
    <b>رسوم التوصيل:</b> {{ posa_delivery_charges_rate }}
</div>

<div>
    <b>الإجمالي:</b> {{ grand_total }}
</div>

<hr>
</div>